<template>
    <footer class="text-center my-8 border-t pt-4">
        <p
            class="font-light text-sm text-gray-500"
        >Copyright &copy; Zorion Corp. All Rights Reserved</p>
    </footer>
</template>