<template>
  <div>
    <nav class="bg-blue-600 p-4 text-white flex justify-between items-center">
      <div>
        <router-link to="/">Home</router-link>
      </div>
      <p class="ml-4">{{ name }}</p>
      <div>
        <div v-if="!auth">
          <router-link to="/login" class="mr-8 bg-blue-500 px-4 py-2 rounded"
            >Login</router-link
          >
        </div>
        <div v-else class="flex items-center">
          <button @click="logout" class="flex items-center ml-2">
            <!-- <svg
                            width="14"
                            height="14"
                            viewBox="0 0 14 14"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M12.5626 10.4375H11.4642C11.3892 10.4375 11.3189 10.4703 11.272 10.5281C11.1626 10.661 11.0454 10.7891 10.922 10.911C10.4171 11.4163 9.81912 11.8191 9.16104 12.0969C8.47925 12.3849 7.74646 12.5326 7.00635 12.5313C6.25792 12.5313 5.53292 12.3844 4.85167 12.0969C4.19359 11.8191 3.59558 11.4163 3.09073 10.911C2.58497 10.4073 2.18169 9.81035 1.90323 9.15315C1.61417 8.4719 1.46885 7.74846 1.46885 7.00002C1.46885 6.25159 1.61573 5.52815 1.90323 4.8469C2.18135 4.18909 2.58135 3.5969 3.09073 3.08909C3.6001 2.58127 4.19229 2.18127 4.85167 1.90315C5.53292 1.61565 6.25792 1.46877 7.00635 1.46877C7.75479 1.46877 8.47979 1.61409 9.16104 1.90315C9.82042 2.18127 10.4126 2.58127 10.922 3.08909C11.0454 3.21252 11.161 3.34065 11.272 3.4719C11.3189 3.52971 11.3907 3.56252 11.4642 3.56252H12.5626C12.661 3.56252 12.722 3.45315 12.6673 3.37034C11.4689 1.50784 9.37198 0.275024 6.98917 0.281274C3.24542 0.290649 0.243853 3.32971 0.281353 7.06877C0.318853 10.7485 3.31573 13.7188 7.00635 13.7188C9.38292 13.7188 11.4704 12.4875 12.6673 10.6297C12.7204 10.5469 12.661 10.4375 12.5626 10.4375ZM13.9517 6.90159L11.7345 5.15159C11.6517 5.08596 11.5314 5.14534 11.5314 5.25002V6.43752H6.6251C6.55635 6.43752 6.5001 6.49377 6.5001 6.56252V7.43752C6.5001 7.50627 6.55635 7.56252 6.6251 7.56252H11.5314V8.75002C11.5314 8.85471 11.6532 8.91409 11.7345 8.84846L13.9517 7.09846C13.9666 7.08677 13.9787 7.07183 13.987 7.05477C13.9953 7.03772 13.9996 7.019 13.9996 7.00002C13.9996 6.98105 13.9953 6.96233 13.987 6.94527C13.9787 6.92822 13.9666 6.91328 13.9517 6.90159V6.90159Z"
                                fill="white"
                            />
                        </svg> -->
            <p class="text-sm ml-2">Logout</p>
          </button>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  data() {
    return {
      auth: false,
      name: "",
      // profile_photo_url: "",
    };
  },
  created() {
    this.fetchUser();
  },
  methods: {
    async fetchUser() {
      var token = localStorage.getItem("token");

      if (token) {
        var response = await this.callApi(
          "get",
          "auth/profile",
          {},
          {
            Authorization: "Bearer " + token,
          }
        );
        if (response.status != 200) {
          return;
        }

        this.auth = true;
        this.name = response.data.name;
        // this.profile_photo_url = response.data.data.profile_photo_url;
      }
    },
    async logout() {
      var token = localStorage.getItem("token");
      var res = await this.callApi(
        "post",
        "auth/logout",
        {},
        {
          Authorization: "Bearer " + token,
        }
      );
      if (res.status != 200) {
        return;
      }
      localStorage.removeItem("token");
      window.location.reload(true);
    },
  },
};
</script>